/* Header */
.hd_top {
    background-color: var(--cl-main);
    padding: 10px 0;
}
.hd_top .hd_left ul {
    display: flex;
}
.hd_left ul li {
    padding-right: 20px
}
.hd_left ul li a {
    letter-spacing: 0.05em;
}
.hd_right ul {
    display: flex;
}
.hd_right ul li {
    position: relative;
}
.hd_right ul>li {
    padding-left: 20px;
}
.hd_right ul ul {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}