/* Header */
.hd_top {
    background-color: var(--cl-main);
    padding: 10px 0;
}
.hd_top .hd_left ul {
    display: flex;
}
.hd_left ul li {
    padding-right: 20px
}
.hd_left ul li a {
    letter-spacing: 0.1em;
}